# https://www.geeksforgeeks.org/devops/setup-prometheus-node-exporter-on-kubernetes/
package_update: true
package_upgrade: true

users:
  - name: prometheus
    gecos: Prometheus User
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL

packages:
  - curl
  - tar
  - systemd

runcmd:
  - mkdir -p /etc/prometheus
  - mkdir -p /var/lib/prometheus
  - useradd -rs /bin/false prometheus
  - chown prometheus:prometheus /var/lib/prometheus
  - cd /tmp
  - wget https://github.com/prometheus/prometheus/releases/download/v2.53.4/prometheus-2.53.4.linux-amd64.tar.gz
  - tar xvf prometheus-2.53.4.linux-amd64.tar.gz
  - cd prometheus-2.53.4.linux-amd64
  - mv console* /etc/prometheus
  - mv prometheus.yml /etc/prometheus
  - chown -R prometheus:prometheus /etc/prometheus
  - mv prometheus /usr/local/bin/
  - mv promtool /usr/local/bin/
  - chown prometheus:prometheus /usr/local/bin/prometheus
  - chown prometheus:prometheus /usr/local/bin/promtool
  - |
    cat <<EOF > /etc/systemd/system/prometheus.service
    [Unit]
    Description=Prometheus
    Wants=network-online.target
    After=network-online.target

    [Service]
    User=prometheus
    Group=prometheus
    Type=simple
    ExecStart=/usr/local/bin/prometheus \
      --config.file /etc/prometheus/prometheus.yml \
      --storage.tsdb.path /var/lib/prometheus \
      --web.console.templates=/etc/prometheus/consoles \
      --web.console.libraries=/etc/prometheus/console_libraries
    Restart=on-failure

    [Install]
    WantedBy=multi-user.target
    EOF
  - |
    cat <<EOF >/etc/prometheus/prometheus.yaml
    global:
      scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
      evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

    # Alertmanager configuration
    alerting:
      alertmanagers:
        - static_configs:
            - targets:
              # - alertmanager:9093

    # Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
    rule_files:
      # - "first_rules.yml"
      # - "second_rules.yml"

    # A scrape configuration containing exactly one endpoint to scrape:
    # Here it's Prometheus itself.
    scrape_configs:
      # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
      - job_name: "prometheus"

        # metrics_path defaults to '/metrics'
        # scheme defaults to 'http'.

        static_configs:
          - targets: ["localhost:9090"]

      - job_name: 'node_exporter'
        static_configs:
          - targets: ['${loadbalancer_dns}:80']
    EOF
  - systemctl daemon-reload
  - systemctl enable prometheus
  - systemctl start prometheus
