name: on-main

on:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      terraform_docs_version:
        type: string
        description: "Version of terraform docs"
        default: "0.19.0"
        required: false



# on:
#   pull_request:
#     types:
#       - closed
#     branches:
#       - master

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write


    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          installation-id: ${{ secrets.APP_INSTALLATION_ID }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0


      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'


      # - name: Cache terraform-precommit
      #   id: cache-tf-pre-commit
      #   uses: actions/cache@v4
      #   with:
      #     path: /usr/local/bin/terraform-docs
      #     key: ${{ runner.os }}-tf-docs-v0.16.0 # Match the version below

      - name: Setup cache for terraform_docs
        if: inputs.terraform_docs_enabled == 'true'
        uses: actions/cache@v4
        id: cache-terraform_docs
        with:
          path: |
            ~/.local/bin/terraform-docs

          key: tool-terraform_docs-${{ inputs.terraform_docs_version }}-${{ runner.os }}

      - name: Install terraform_docs
        if: (inputs.terraform_docs_enabled == 'true' && steps.cache-terraform_docs.outputs.cache-hit != 'true')
        run: |
          curl -L "https://github.com/terraform-docs/terraform-docs/releases/download/v${{ inputs.terraform_docs_version }}/terraform-docs-v${{ inputs.terraform_docs_version }}-linux-amd64.tar.gz" \
            | tar -C ~/.local/bin -xzv terraform-docs \
            && chmod +x ~/.local/bin/terraform-docs

      - name: Install terraform precommit
        if: ${{ steps.cache-tf-pre-commit.outputs.cache-hit != 'true' }}
        run: |
          sudo apt update
          sudo apt install -y unzip software-properties-common python3 python3-pip python-is-python3
          python3 -m pip install --upgrade pip
          pip3 install --no-cache-dir pre-commit
          pip3 install --no-cache-dir checkov
          curl -L "$(curl -s https://api.github.com/repos/terraform-docs/terraform-docs/releases/latest | grep -o -E -m 1 "https://.+?-linux-amd64.tar.gz")" > terraform-docs.tgz && tar -xzf terraform-docs.tgz terraform-docs && rm terraform-docs.tgz && chmod +x terraform-docs && sudo mv terraform-docs /usr/bin/
          curl -L "$(curl -s https://api.github.com/repos/tenable/terrascan/releases/latest | grep -o -E -m 1 "https://.+?_Linux_x86_64.tar.gz")" > terrascan.tar.gz && tar -xzf terrascan.tar.gz terrascan && rm terrascan.tar.gz && sudo mv terrascan /usr/bin/ && terrascan init
          curl -L "$(curl -s https://api.github.com/repos/terraform-linters/tflint/releases/latest | grep -o -E -m 1 "https://.+?_linux_amd64.zip")" > tflint.zip && unzip tflint.zip && rm tflint.zip && sudo mv tflint /usr/bin/
          curl -L "$(curl -s https://api.github.com/repos/aquasecurity/tfsec/releases/latest | grep -o -E -m 1 "https://.+?tfsec-linux-amd64")" > tfsec && chmod +x tfsec && sudo mv tfsec /usr/bin/
          curl -L "$(curl -s https://api.github.com/repos/aquasecurity/trivy/releases/latest | grep -o -E -i -m 1 "https://.+?/trivy_.+?_Linux-64bit.tar.gz")" > trivy.tar.gz && tar -xzf trivy.tar.gz trivy && rm trivy.tar.gz && sudo mv trivy /usr/bin
          sudo apt install -y jq && \
          curl -L "$(curl -s https://api.github.com/repos/minamijoyo/tfupdate/releases/latest | grep -o -E -m 1 "https://.+?_linux_amd64.tar.gz")" > tfupdate.tar.gz && tar -xzf tfupdate.tar.gz tfupdate && rm tfupdate.tar.gz && sudo mv tfupdate /usr/bin/
          curl -L "$(curl -s https://api.github.com/repos/minamijoyo/hcledit/releases/latest | grep -o -E -m 1 "https://.+?_linux_amd64.tar.gz")" > hcledit.tar.gz && tar -xzf hcledit.tar.gz hcledit && rm hcledit.tar.gz && sudo mv hcledit /usr/bin/

      - uses: pre-commit/action@v3.0.1

      # - name: Run pre-commit
      #   run: |
      #     pip install pre-commit
      #     pre-commit run --all-files

      - name: Auto Tag
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
